<div class="container mx-auto px-4 py-8 md:py-16 max-w-5xl">
    <!-- Product Detail Container -->
    <div class="bg-white shadow-lg rounded-lg overflow-hidden md:flex md:items-center">
        <!-- Product Image -->
        <div class="relative md:w-1/2">
            <img [src]="fileUrl+product?.imageUrl" alt="Product Image" class="w-full h-full object-cover">
            @if (loader){
            <div class="absolute inset-0 flex items-center justify-center bg-white opacity-75 z-10">
                <app-loader></app-loader>
            </div>
            }
        </div>

        <!-- Product Information -->
        <div class="p-6 md:w-1/2 flex flex-col justify-between">
            <h1 class="text-3xl font-bold text-gray-900 mb-4">{{product?.title}}</h1>
            <p class="text-lg text-gray-600 mb-4">${{product?.price}}</p>
            <p class="text-gray-700 mb-6 text-lg">{{product?.description}}</p>

            <!-- Ratings and Buttons -->
            <div class="flex flex-col gap-4">
                <div class="flex items-center mb-6">
                    <span class="text-gray-600 font-semibold mr-2">Rating:</span>
                    <span class="text-yellow-500">★★★★☆</span>
                </div>
                <div class="flex flex-col md:flex-row gap-4">
                    <button
                        class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition duration-200">
                        Add to Cart
                    </button>
                    <button
                        class="bg-gray-200 text-gray-700 py-2 px-4 rounded-lg border border-gray-300 hover:bg-gray-300 transition duration-200">
                        Wishlist
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>