<div class="m-4">

    <button (click)="openModal()" class="bg-blue-500 text-white px-4 py-2 rounded">Add Product</button>
</div>

<!-- Modal -->
@if (isModalOpen) {
<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <!-- Background backdrop -->
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div
                class="relative transform overflow-hidden p-5 rounded-lg bg-white text-left transition-all sm:my-8 w-full max-w-3xl">
                <div class="bg-white p-6 sm:p-8 rounded-lg">
                    <!-- Centered Title -->
                    <h2 class="text-2xl sm:text-3xl lg:text-4xl shadow-md font-semibold text-gray-900 text-center mb-6">
                        {{ isUpdate ? "Update Post" : "Create Post" }}
                    </h2>

                    <form [formGroup]="productForm">
                        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">

                            <div class="mb-4">
                                <label for="title" class="block text-white">Title</label>
                                <input type="text" id="title" formControlName="title"
                                    class="w-full px-4 py-2 bg-gray-800 text-white border border-gray-600 rounded-lg focus:outline-none focus:ring focus:ring-blue-300"
                                    placeholder="Enter product title" />
                            </div>

                            <div class="mb-4">
                                <label for="price" class="block text-white">Price</label>
                                <input type="number" id="price" formControlName="price"
                                    class="w-full px-4 py-2 bg-gray-800 text-white border border-gray-600 rounded-lg focus:outline-none focus:ring focus:ring-blue-300"
                                    placeholder="Enter product price" />
                            </div>

                            <div class="mb-4 col-span-full">
                                <label for="description" class="block text-white">Description</label>
                                <textarea id="description" formControlName="description"
                                    class="w-full px-4 py-2 bg-gray-800 text-white border border-gray-600 rounded-lg focus:outline-none focus:ring focus:ring-blue-300"
                                    placeholder="Enter product description" rows="4">
                  </textarea>
                            </div>

                            <div class="mb-4 col-span-full">
                                <label for="about" class="block text-white">About</label>
                                <textarea id="about" formControlName="about"
                                    class="w-full px-4 py-2 bg-gray-800 text-white border border-gray-600 rounded-lg focus:outline-none focus:ring focus:ring-blue-300"
                                    placeholder="Enter details about the product" rows="3">
                  </textarea>
                            </div>

                            <div class="mb-4">
                                <label for="sku" class="block text-white">SKU</label>
                                <input type="text" id="sku" formControlName="sku"
                                    class="w-full px-4 py-2 bg-gray-800 text-white border border-gray-600 rounded-lg focus:outline-none focus:ring focus:ring-blue-300"
                                    placeholder="Enter SKU" />
                            </div>

                            <div class="mb-4">
                                <label for="field1" class="block text-white">Field 1</label>
                                <input type="text" id="field1" formControlName="field1"
                                    class="w-full px-4 py-2 bg-gray-800 text-white border border-gray-600 rounded-lg focus:outline-none focus:ring focus:ring-blue-300"
                                    placeholder="Enter field 1" />
                            </div>

                            <div class="mb-4">
                                <label for="field2" class="block text-white">Field 2</label>
                                <input type="text" id="field2" formControlName="field2"
                                    class="w-full px-4 py-2 bg-gray-800 text-white border border-gray-600 rounded-lg focus:outline-none focus:ring focus:ring-blue-300"
                                    placeholder="Enter field 2" />
                            </div>

                            <div class="mb-4">
                                <label for="field3" class="block text-white">Field 3</label>
                                <input type="text" id="field3" formControlName="field3"
                                    class="w-full px-4 py-2 bg-gray-800 text-white border border-gray-600 rounded-lg focus:outline-none focus:ring focus:ring-blue-300"
                                    placeholder="Enter field 3" />
                            </div>

                            <div class="mb-4 col-span-full flex items-center">
                                <div class="w-1/2">
                                    <label for="image" class="block text-white">Image</label>
                                    <input type="file" id="image" (change)="onFileSelected($event)"
                                        class="w-full px-4 py-2 bg-gray-800 text-white border border-gray-600 rounded-lg focus:outline-none focus:ring focus:ring-blue-300" />
                                </div>

                                <div class="w-1/2 pl-4">
                                    <img *ngIf="imageUrl" [src]="imageUrl" alt="Image Preview"
                                        class="w-50 h-32 object-cover rounded-lg" />
                                </div>
                            </div>

                        </div>

                        <button type="submit"
                            class="w-full bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300">
                            Submit
                        </button>
                        <div class="flex justify-end gap-4 mt-6">
                            <button type="button" (click)="closeModal()"
                                class="bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-600 focus:outline-none focus:ring focus:ring-gray-300">
                                Cancel
                            </button>

                            <button type="submit" (click)="Submit()" [disabled]="isLoading"
                                class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600 focus:outline-none focus:ring focus:ring-green-300">
                                <span *ngIf="!isLoading">
                                    {{ isUpdate ? "Update" : "Submit" }}
                                </span>
                                <span *ngIf="isLoading" class="flex items-center">
                                    <svg class="animate-spin h-5 w-5 mr-3 border-t-2 border-b-2 border-white rounded-full"
                                        viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"
                                            stroke-dasharray="80" stroke-linecap="round" class="opacity-25"></circle>
                                        <path d="M4 12a8 8 0 018-8" stroke="currentColor" stroke-width="4"
                                            stroke-linecap="round" class="opacity-75"></path>
                                    </svg>
                                    Loading...
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


}