<!-- <div class="container">
    <div class="card">
        <div class="content">
            <div class="image-container flex justify-center">
                <img [src]="fileUrl + data?.imageUrl" alt="Product Image" />
            </div>
            <div class="title">{{ data?.title }}</div>
            <div class="price">${{ data?.price }}</div>
            <div class="description">{{ data?.description }}</div>
        </div>

        <div class="actionbtn">
            <button [routerLink]="['/product-detail']" [queryParams]="{post: data?._id}">View</button>
            <button (click)="deleteProduct(data)">Delete</button>
            <button (click)="EditProduct(data)">Edit</button>
        </div>
    </div>
</div> -->

<div class="flex flex-wrap justify-center gap-x-8 gap-y-6 px-4">
    <div class="w-80 rounded overflow-hidden shadow-lg bg-gradient-to-b from-gray-900 to-gray-800 text-center mt-4">
        <!-- <img class="w-full h-48 object-cover transform transition-transform duration-300 hover:scale-105"
            [src]="fileUrl + data?.imageUrl" alt="Sample Image"> -->
        <img class="w-full h-48 object-cover transform transition-transform duration-300 hover:scale-105"
            [defaultImage]="defaultImage" [lazyLoad]="fileUrl + data?.imageUrl" [useSrcset]="true" />
        <div class="px-6 py-4">
            <!-- Truncated title -->
            <h2 class="text-lg font-bold text-white mb-2 truncate overflow-hidden whitespace-nowrap">
                {{ data?.title }}
            </h2>

            <p class="text-3xl font-extrabold text-white mb-4">${{ data?.price }}</p>

            <!-- Truncated description with consistent width -->
            <p class="text-gray-300 text-sm  truncate overflow-hidden whitespace-nowrap max-w-full">
                {{ data?.description }}
            </p>
        </div>

        <div class="px-6 pt-4 pb-2 flex justify-around space-x-4">
            <button [routerLink]="['/product-detail']" [queryParams]="{post: data?._id}"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                VIEW
            </button>
            <button (click)="deleteProduct(data)"
                class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                DELETE
            </button>
            <button (click)="EditProduct(data)"
                class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
                EDIT
            </button>
        </div>
    </div>

    <!-- Add more cards, and they'll automatically appear next to each other -->
</div>